{% load i18n %}
<div class="muses-pagination">
    <span class="muses-step-links">
        {% if page_obj.has_previous %}
            <a class="muses-button" href="?page=1">&laquo; {% trans "first" %}</a>
            <a class="muses-button" href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
        {% else %}
            <a class="muses-button">&laquo; {% trans "first" %}</a>
            <a class="muses-button">{% trans "previous" %}</a>
        {% endif %}

        <span class="muses-pagination-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="muses-button" href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            <a class="muses-button" href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
        {% else %}
            <a class="muses-button">{% trans "next" %}</a>
            <a class="muses-button">{% trans "last" %} &raquo;</a>
        {% endif %}
    </span>
</div>