$font-serif: 'IM Fell English', 'Linux Libertine', 'Georgia', 'Times', serif, !default;
$font-sans-serif: 'Open Sans', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Lato', 'Helvetica', 'Arial', sans-serif, !default;
$text-color: lightgrey !default;
$primary-color: rgba(130, 130, 130, 1) !default;
$background: invert($text-color) !default;
$background-1: whitesmoke !default;
$background-item: black;
$primary-tag-color: invert($primary-color);
$search_bar_background: $background-1;
$tags_selector_background: $background-1;
$size-8: 2.75em !default;
$size-7: 2.5em !default;
$size-6: 2.25em !default;
$size-5: 2em !default;
$size-4: 1.75em !default;
$size-3: 1.5em !default;
$size-2: 1.25em !default;
$size-1: 1.12em !default;
$size-0: 1em !default;
