{% extends "base.html" %}
{% load i18n %}
{% block current_context %}
{% endblock %}
{% block content %}

    <div class="muses-list">
        {% include "_partials/pagination.html" %}
        {% for book in object_list %}
            <div class="muses-list-item"
                 onclick="location.href='{% url "muses_admin_book_detail" book.id %}'">
                <div>
                    {{ book.title }}
                </div>
                <div>
                    <a href="{% url "muses_admin_book_update" book.id %}" class="muses-button">
                        {% trans "Update" %}
                    </a>
                </div>
                <div>
                    <a href="{% url "muses_admin_book_delete" book.id %}" class="muses-button">
                        {% trans "Delete" %}
                    </a>
                </div>

            </div>
        {% endfor %}
        {% include "_partials/pagination.html" %}
    </div>

{% endblock %}