{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "License details" %}
{% endblock %}
{% block content %}
    License details
    <div>
        <div>{% trans "Name" %}:</div>
        <div>{{ license.name }}</div>
    </div>
{% endblock %}