{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {{ section_title }}
{% endblock %}
{% block nav_bar %}

    {% include '_partials/nav_bar_section.html' %}

{% endblock %}
{% block pageloader %}
    <div class="pageloader"></div>
{% endblock %}
{% block current_context %}
{% endblock %}
{% block search_bar %}
{% endblock %}
{% block tags_selector %}
{% endblock %}
{% block content %}
    <div class="muses-dashboard">
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_admonitions' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Admonition management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage admonitions" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_members' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Members management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage members" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_books' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Books management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage books" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_post_alerts' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Post Alerts management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage post alerts" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_comment_alerts' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Comment Alerts management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage Comment alerts" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_tags' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Tags management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage tags" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_faqs' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Faq management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage faqs" %}</div>
            </div>
        </div>

        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_correction_requests' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Correction requests management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage correction requests" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_contests' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Contests management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage contests" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_licenses' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Licenses management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage licenses" %}</div>
            </div>
        </div>
        <div class="tile"
             onclick="location.href='{% url 'muses_admin_list_site_params' %}'">
            <div class="content">
                <div class="title is-4">{% trans "Site parameters management" %}</div>
                <div class="subtitle is-4">{% trans "allow to manage site parameters" %}</div>
            </div>
        </div>
    </div>
{% endblock %}