{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ site_title }} - {% trans "New tag" %}
{% endblock %}
{% block extra_meta %}
    {{ form.media }}
{% endblock %}
{% block pageloader %}
    <div class="pageloader"></div>
{% endblock %}
{% block current_context %}
{% endblock %}
{% block content %}
    <form>
        {% csrf_token %}
        {{ form.as_div }}
    </form>
{% endblock %}