{% extends "base.html" %}
{% load i18n %}
{% block current_context %}
{% endblock %}
{% block content %}

    <div class="muses-correction-requests-list">
        {% include "_partials/pagination.html" %}
        {% for correction_request in object_list %}
            <div class="muses-correction-request-item">{{ correction_request.id }}</div>
        {% endfor %}
        {% include "_partials/pagination.html" %}
    </div>

{% endblock %}