{% extends "base.html" %}
{% load i18n %}
{% block current_context %}
{% endblock %}
{% block content %}

    <div class="muses-book_parts-list">
        {% include "_partials/pagination.html" %}
        {% for book_part in object_list %}
            <div class="muses-book_part-item">{{ book_part.title }}</div>
        {% endfor %}
        {% include "_partials/pagination.html" %}
    </div>

{% endblock %}