{% extends "base.html" %}
{% load i18n %}
{% block current_context %}
{% endblock %}
{% block content %}

    <div class="muses-correction-actions-list">
        {% include "_partials/pagination.html" %}
        {% for correction_action in object_list %}
            <div class="muses-correction-action-item">{{ correction_action.id }}</div>
        {% endfor %}
        {% include "_partials/pagination.html" %}
    </div>

{% endblock %}