{% extends "base.html" %}
{% load i18n %}
{% block current_context %}
{% endblock %}
{% block content %}

    <div class="muses-tags-list">
        {% include "_partials/pagination.html" %}
        {% for faq in object_list %}
            <div class="muses-tag-item">{{ faq.question }}</div>
        {% endfor %}
        {% include "_partials/pagination.html" %}
    </div>

{% endblock %}